header {
  display: flex;

  background-color: skyblue;
}

header * {
  margin: 0;

  text-align: center;

  color: white;

  line-height: 3rem;

  flex: 1;
}

header *:first-child {
  margin: 0 0 0 1rem;

  text-align: left;
  text-transform: capitalize;
}

header *:last-child {
  margin: 0 1rem 0 0;

  text-align: right;
  text-transform: capitalize;
}

header .path {
  text-transform: capitalize;

  color: darkred;

  font-weight: 600;
}
