header {
  display: flex;
  background-color: skyblue;
}

header * {
  flex: 1;
  margin: 0;
  line-height: 3rem;
  text-align: center;
  color: white;
}

header *:first-child {
  margin: 0 0 0 1rem;
  text-align: left;
  text-transform: capitalize;
}

header *:last-child {
  margin: 0 1rem 0 0;
  text-align: right;
  text-transform: capitalize;
}

header .path {
  font-weight: 600;
  text-transform: capitalize;
  color: darkred;
}
